/* .img-house {
    width: 150px;
} */

.building a {
    text-decoration: none;
    color: black

}

.login {
    background-image: url(./images/thailand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.signup a {
   color: blueviolet
}